body{
    margin: 0;
}

header{
    background-color: black;
    margin: 0px;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-image: url("/images/mikail-mcverry-GSL3IuuwJv8-unsplash.png");
}

#seccion-superior {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    padding: 0.5% 0.5% 0.5% 0.5%;
    background-color: rgb(0 0 0 / 40%);
    align-items: center;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
}

#logo a {
    margin-left: 5%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#login{
    display: grid;
    grid-template-columns: auto auto;
    height: fit-content;
    margin: 0 60px 0 50px;
    padding: 1%;
}

#login a:nth-child(1) {
    font-weight: 390;
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: #FFFFFF;
    padding-right: 15px;
}

#login a:nth-child(2) {
    font-weight: 390;
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: #FFFFFF;
    padding-left: 15px;
    border-left: 1.5px solid rgba(255, 255, 255, 0.5);
}

#login a {
    text-transform: uppercase;
    text-decoration: none !important;
}

#lenguajes {
    display: grid;
    grid-template-columns: 1fr 15px auto;
    column-gap: 5px;
    margin-right: 30px;
    padding-top: 1%;
    padding-right: 2vw;
    border-right: 1.5px solid rgba(255, 255, 255, 0.5);
}

.escoger-lenguaje {
    color: #B4B7B7;
    font-weight: 390;
    font-size: 1.5vw;
    line-height: 1.5vw;
}

#contenido {
    padding: 0 5%;
    background-color: rgb(0 0 0 / 40%);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

#buscador-villas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2% 0 1% 0;
    color: white;
}

#buscar-lugar {
    border: 1px solid  white;
    color: white;
    border-radius: 100px;
    font-size: 1vw;
    background: none;
    padding: 10px 0 10px 25px;
    min-width: 20vw;
    grid-column: 3;
    margin: 0 0.7vw 0 5vw;
    
}

#buscar-lugar{
    color: #FFFFFF;
}

#svg-logo{
    width: 18vw;
    padding-top: 1%;
}

#propiedades {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    align-items: flex-end;
    margin-bottom: 6%;
}

.pfreal-real{
    font-family: 'PF Regal Display Pro';
    font-style: normal;
}

#nombre-luxury {
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
}

#nombre-real-state {
    font-weight: 500;
    font-size: 60px;
    color: #FFFFFF;
    margin-bottom: 1.5%;
}

#ver-propiedades {
    font-weight: 390;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    padding: 12px 45px;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
}

#menu-acordeon{
    margin-right: 20px;
}

#acordeon{
    margin: 0;
    width: 5vw;
}

main{
    margin: 6% 0;
}

#seccion-imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    
}

#imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.imagenes-en-linea{
    flex-shrink: 0;
    width: 20vw;
    min-width: 250px;
    height: 25vw;
    min-height: 385px;
    background-size: cover;
    background-position: end;
    text-decoration: none;
    
}

#imagen1{
    background-image: url("/images/scott-lorsch-Cqvdb3bvmCY-unsplash\ 1.png");
    width: 5.5vw;
    min-width: 50px;
}

#imagen2{
    background-image: url("/images/derek-thomson-a168At_RF6A-unsplash\ 1.png");
    margin-left: 10px;
}

#imagen3{
    background-image: url("/images/daniel-barnes-PyFzygP2eNg-unsplash\ 1.png");
    margin-left: 10px
}


#titulos{

    margin-right: 5vw;
}


.segundo-titulo{
    font-size: 5vw;
}

.texto-galeria{
    font-family: 'PF Regal Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #DF991B;
}


@media (max-width: 1000px){

    .texto-galeria{
        font-size: 24px;
    }

}